#stopwatch-container{
    font-size: 6rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 9rem;

}
/*  */
#start{
    margin-left:10px;
    background-color: rgb(63, 129, 63);
}
#stop{
    background-color: red;
}
#reset{
    background-color: rgb(72, 72, 173);
}
#button-container{
    display: flex;
    justify-content: center;
}
#start,#stop,#reset{
    font-size: 2rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
   margin-right: 30px;
   min-width: 125px;
   cursor: pointer;
   border:solid 5px  ;
   border-radius: 10px;
   justify-content: center;
   /* background-color: bisque; */

}